{% extends '_base.html' %}

{% block content %}
<div class="uk-container">

  <div class="uk-card uk-card-default uk-card-body uk-margin">
    <h2 class="uk-card-title">{{ personagem.nome }}</h2>

    <dl class="uk-description-list uk-description-list-divider">
      <dt>Jogador</dt>
      <dd>{{ personagem.nome }}</dd>

      <dt>Classe</dt>
      <dd>{{ personagem.classe }}</dd>

      <dt>Raça</dt>
      <dd>{{ personagem.raca }}</dd>

      <dt>Nível</dt>
      <dd>{{ personagem.nivel }}</dd>

      <dt>HP</dt>
      <dd>{{ personagem.hp }}</dd>

      <dt>Ouro</dt>
      <dd>{{ personagem.ouro }}</dd>

      <dt>Guilda</dt>
      <dd>{{ personagem.guilda|default:"Sem Guilda" }}</dd>

      <dt>História</dt>
      <dd>{{ personagem.historia }}</dd>
    </dl>

    <a href="/personagem/" class="uk-button uk-button-secondary uk-margin-top">
      ← Voltar
    </a>
  </div>

</div>
{% endblock %}
