{% extends '_base.html' %}

{% block content %}
<div class="uk-container">

  <div class="uk-card uk-card-default uk-card-body uk-margin">
    <h2 class="uk-card-title">{{ missao.titulo }}</h2>

    <dl class="uk-description-list uk-description-list-divider">
      <dt>Recompensa</dt>
      <dd>{{ missao.recompensa }}</dd>

      <dt>Personagem</dt>
      <dd>{{ missao.personagem }}</dd>

      <dt>Concluída</dt>
      <dd>{{ missao.concluida }}</dd>

      <dt>Descrição</dt>
      <dd>{{ missao.descricao }}</dd>
    </dl>

    <a href="/missao/" class="uk-button uk-button-secondary uk-margin-top">
      ← Voltar
    </a>
  </div>

</div>
{% endblock %}
