{% extends '_base.html' %}

{% block content %}
<h3 class="uk-heading-line uk-text-bold"><span>Missões</span></h3>

<!-- Botão criar missão -->
<div class="uk-margin">
    <a href="/missao/add/" class="uk-button uk-button-primary uk-light">
        Criar nova missão
    </a>
</div>

<!-- Tabela -->
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-hover uk-table-striped uk-table-small">
        <thead>
            <tr>
                <th>Título</th>
                <th>Recompensa</th>
                <th>Descrição</th>
                <th class="uk-text-center">Detalhe</th>
                <th class="uk-text-center">Editar</th>
                <th class="uk-text-center">Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for missao in missoes %}
            <tr>
                <td>{{ missao.nome }}</td>
                <td>{{ missao.recompensa }}</td>
                <td>{{ missao.descricao}}</td>
                <td class="uk-text-center">
                    <a href="/missao/{{missao.id}}" class="uk-button uk-button-default uk-button-small">Detalhes</a>
                </td>
                <td class="uk-text-center">
                    <a href="/missao/edit/{{missao.id}}" class="uk-button uk-button-secondary uk-button-small">Editar</a>
                </td>
                <td class="uk-text-center">
                    <a href="/missao/delete/{{missao.id}}" class="uk-button uk-button-danger uk-button-small">Deletar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="uk-text-center uk-text-muted">Nenhuma missão cadastrada</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
