{% extends '_base.html' %}

{% block content %}
    <h3>Aqui mostra os missoes</h3>

    <a href="/missao/add/"> Criar novo missao </a>

    <table>
        <thead>
            <tr>
                <th> Título </th>
                <th> Recompensa </th>
                <th> Concluída </th>
                <th> Detalhe </th>
                <th> Edita </th>
                <th> Deleta </th>
            </tr>
        </thead>
        <tbody>
            {% for missao in missoes %}
            <tr>
                <td> {{ missao.titulo }}</td>
                <td> {{ missao.recompensa}}</td>
                <td> {{ missao.concluida }}</td>
                <td> <a href="/missao/{{missao.id}}"> Detalhes </a> </td>
                <td> <a href="/missao/edit/{{missao.id}}"> Editar </a> </td>
                <td> <a href="/missao/delete/{{missao.id}}"> Deletar </a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}