{% extends '_base.html' %}

{% block content %}
<h3 class="uk-heading-line uk-text-bold"><span>Guildas</span></h3>

<!-- Botão criar guilda -->
<div class="uk-margin">
    <a href="/guilda/add/" class="uk-button uk-button-primary uk-light">
        Criar nova Guilda
    </a>
</div>

<!-- Tabela -->
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-hover uk-table-striped uk-table-small">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th class="uk-text-center">Detalhe</th>
                <th class="uk-text-center">Editar</th>
                <th class="uk-text-center">Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for guilda in guildas %}
            <tr>
                <td>{{ guilda.nome }}</td>
                <td>{{ guilda.descricao }}</td>
                <td class="uk-text-center">
                    <a href="/guilda/{{guilda.id}}" class="uk-button uk-button-default uk-button-small">Detalhes</a>
                </td>
                <td class="uk-text-center">
                    <a href="/guilda/edit/{{guilda.id}}" class="uk-button uk-button-secondary uk-button-small">Editar</a>
                </td>
                <td class="uk-text-center">
                    <a href="/guilda/delete/{{guilda.id}}" class="uk-button uk-button-danger uk-button-small">Deletar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="uk-text-center uk-text-muted">Nenhuma guilda cadastrada</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
