<div class="uk-background-secondary uk-dark uk-padding uk-height-1-1">
  <ul class="uk-nav uk-nav-default">

    <!-- Links -->
    <li>
      <a href="/item/" class="uk-flex uk-flex-middle uk-light">
        <span uk-icon="icon: album; ratio: 1.2"></span>
        <span class="uk-margin-small-left">Itens</span>
      </a>
    </li>

    <li>
      <a href="/guilda/" class="uk-flex uk-flex-middle uk-light">
        <span uk-icon="icon: users; ratio: 1.2"></span>
        <span class="uk-margin-small-left">Guildas</span>
      </a>
    </li>

    <li>
      <a href="/personagem/" class="uk-flex uk-flex-middle uk-light">
        <span uk-icon="icon: user; ratio: 1.2"></span>
        <span class="uk-margin-small-left">Personagens</span>
      </a>
    </li>

    <li>
      <a href="/usuario/" class="uk-flex uk-flex-middle uk-light">
        <span uk-icon="icon: user; ratio: 1.2"></span>
        <span class="uk-margin-small-left">Usuários</span>
      </a>
    </li>

    <li>
      <a href="/missao/" class="uk-flex uk-flex-middle uk-light">
        <span uk-icon="icon: star; ratio: 1.2"></span>
        <span class="uk-margin-small-left">Missões</span>
      </a>
    </li>

  </ul>
</div>
