<aside class="sidebar is-show" id="sidebar">
  <div class="sidebar-box">
    <ul class="uk-nav">
      <!-- Título -->
      <li class="uk-nav-header text-uppercase fw-bold text-dark small">CAMPANHA RPG</li>

      <li>
        <a href="/item/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Itens</span>
        </a>
      </li>

      <li>
        <a href="/guilda/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Guildas</span>
        </a>
      </li>
      <li>
        <a href="/personagem/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Personagens</span>
        </a>
      </li>


      <li>
        <a href="/usuario/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Usuários</span>
        </a>
      </li>
      <li>
        <a href="/missao/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Missões</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
