<div class="uk-background-secondary uk-dark" uk-navbar>

  <!-- Logo / Nome do Sistema -->
  <div class="uk-navbar-left">
    <a href="/usuario/" class="uk-navbar-item uk-logo uk-light uk-text-bold">
      Campanha de RPG
    </a>
  </div>


  <!-- Usuário / Ações -->
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#" uk-icon="user" class="uk-light"></a>
        <div class="uk-navbar-dropdown uk-background-secondary uk-dark">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li>
              <form id="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="uk-light" type="submit">Sair</button>
              </form>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>