<div class="uk-background-secondary uk-dark" uk-navbar>

  <!-- Logo / Nome do Sistema -->
  <div class="uk-navbar-left">
    <a href="/" class="uk-navbar-item uk-logo uk-light uk-text-bold">
      Campanha de RPG
    </a>
  </div>


  <!-- Usuário / Ações -->
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#" uk-icon="user" class="uk-light"></a>
        <div class="uk-navbar-dropdown uk-background-secondary uk-dark">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="/logout/" class="uk-light">Sair</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>
